<!DOCTYPE html>
<html>
    <head>
        <title>The Solar System</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/slate/bootstrap.min.css" integrity="sha384-idNH3UIOiZbCf8jxqu4iExnH34y5UovfW/Mg8T5WfNvoJolDvknoNqR69V2OexgF" crossorigin="anonymous">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <li class="nav-item">
            <a href="/">Home</a>
        </li>
        <li class="nav-item">
            <a href="/mercury">Mercury</a>
        </li>
        <li class="nav-item">
            <a href="/venus">Venus</a>
        </li>
        <li class="nav-item">
            <a href="/earth">Earth</a>
        </li>
        <li class="nav-item">
            <a href="/mars">Mars</a>
        </li>
        </nav>
        <br>
    </head>
    <body>