<%- include('partials/header.ejs') %>

<h2>Mars</h2>
<img src="/img/mars.jpg" alt="Mars" width="600"/>
<p>Mars is the fourth planet, right after Earth. 
It is also the second smallest planet in the solar system. Mars is best known for is red color,
which is caused by effect of iron oxide on the surface of the planet. This is where it gets its 
nickname, "The Red Planet". Mars has been explored by rovers and scientists are studying the habitabilty 
of Mars as well as the possibility of past life on the planet!</p>

<%- include('partials/footer.ejs') %>